/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

* {
    border: none;
    border-radius: 0;
    font-family: Hack;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background-color: rgb(43, 48, 59);
    color: #ffffff;
}

window#waybar.hidden {
    opacity: 0.0;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#workspaces button {
    padding: 0.4em;
    background: transparent;
    color: #ffffff;
}

#workspaces button.focused {
    background-color: #64727D;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
}

#clock, #battery, #bluetooth, #network, #pulseaudio, #tray, #mode, #idle_inhibitor {
    border-radius: 0.4em;
    padding: 0.4em;
    margin: 0 0.2em;
    background-color: #64727D;
}

#clock {
    background-color: #64727D;
}

#battery.charging {
    color: #ffdd00;
}

#network.disconnected {
    background-color: #f53c3c;
}
